# App secrets
appsettings.Development.json
appsettings.Production.json
# Build folders
bin/
obj/
# Visual Studio
.vs/

# VS Code
.vscode/
# SQLite database
*.db
*.db-shm
*.db-wal
# Logs
*.log

# Temp
*.tmp
